<nav class="navbar navbar-default">   
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar navbar-nav">
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Shopping List</a></li>
            </ul>
            <ul class="navbar navbar-nav navbar-right">
                <a href="#" class="dropdown-toggle" role="button">Manage</a>
                <li class="dropdown">
                    <ul>
                        <li><a href="#">Save</a></li>
                        <li><a href="#">Fetch</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>